nav {
  background-color: #2B6CA3;
  padding: 10px;
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin-right: 20px;
  position: relative;
}

.navabr li:hover {
  background-color: #003449;
}

.nav-link a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #003449;
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  padding: 10px;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #1b3044;
}

.dropdown-content h4 {
  color: white; /* Make titles white */
  margin: 0;
  padding: 10px 15px; /* Align with links */
}
